body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.row{
  margin: 20px;
}

.itemImage{
  width: 200px;
  height: 200px;

}

.itemImage:hover{
  width: 200px;
  height: 200px;
  animation-duration: 5s;
  animation-name: bounce;
}


.donkey{
  width: 100px;
  height: 100px;
}
@keyframes bounce {
  0% { transform: translateX(0px);}
  30% { transform: translateX(-100px);}
  68% { transform: translateX(200px);}
  100% { transform: translateX(-100px);}
}
